* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
}

// Then your existing imports
@import 'bootstrap/scss/bootstrap';